
@import 'fonts';
@import 'mqs';

$grid-color: rgba(92,124,250,0.2);

body {
    height: 100vh;
    width: 100%;
    background-color: #000;
    } 

.gridlines {
    position: absolute;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-image: 
        repeating-linear-gradient(
            to right, 
            transparent, 
            transparent 9.9%, 
            $grid-color 10%, 
            $grid-color 10.1%),
        repeating-linear-gradient(
            to bottom, 
            transparent, 
            transparent 9.9%, 
            $grid-color 10%, 
            $grid-color 10.1%);
            }

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 5%;
    padding-right: 5%;
    }

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-end;
    padding-left: 10%;
    padding-right: 10%;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    text-align:center;
    height: 90vh;
}

.theme_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    display: flex;
    flex: 1;
    align-items: flex-end;
}