
@import 'fonts';
@import 'mqs';

$grid-color: rgba(92,124,250,0.2);

body {
    height: 100vh;
    width: 100%;
    background-color: #000;
    } 

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: #CCC;
    transition: color 1s;
}

// I don't know if I am completely off-base here with how to do this. I am at an utter loss with how to get the gradient lines to appear over the rest of the document body.

.gridlines {
    position: absolute;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-image: 
        repeating-linear-gradient(
            to right, 
            transparent, 
            transparent 9.9%, 
            $grid-color 10%, 
            $grid-color 10.1%),
        repeating-linear-gradient(
            to bottom, 
            transparent, 
            transparent 9.9%, 
            $grid-color 10%, 
            $grid-color 10.1%);
            }

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: nowrap;
    max-width: 85vw;
    }

// I cannot figure out how to get the last div element (the icon) to align to the rest of the row.

.navwrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > div {
        padding-right: 5%;
        flex-shrink: 0;
    }
}

ul {
    list-style-type: none;
    font-size: 1rem;
    display: flex;
}

li {
    padding-left: 15%;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-end;
    padding-left: 10%;
    padding-right: 10%;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    text-align:center;
    height: 90vh;
}

.theme_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    display: flex;
    flex: 1;
    align-items: flex-end;
}